@font-face {
  font-family: "Poppins";
  src: url(./fonts/Poppins-Black.ttf) format("truetype");
  font-weight: 900;
}
@font-face {
  font-family: "Poppins";
  src: url(./fonts/Poppins-Bold.ttf) format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Poppins";
  src: url(./fonts/Poppins-ExtraBold.ttf) format("truetype");
  font-weight: 800;
}
@font-face {
  font-family: "Poppins";
  src: url(./fonts/Poppins-ExtraLight.ttf) format("truetype");
  font-weight: 200;
}
@font-face {
  font-family: "Poppins";
  src: url(./fonts/Poppins-Light.ttf) format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Poppins";
  src: url(./fonts/Poppins-Medium.ttf) format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Poppins";
  src: url(./fonts/Poppins-Regular.ttf) format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url(./fonts/Poppins-SemiBold.ttf) format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Poppins";
  src: url(./fonts/Poppins-Thin.ttf) format("truetype");
  font-weight: 100;
}
:root {
  --main-background: #190422;
  --secondary-background: #ffffff;
  --main-button-background: #d0b3f5;
  --hover-button-background: #b08ce0;
  --secondary-button-background: #b498d8;
  --main-color-text: #000000;
  --font-h1: 600 80px "Poppins";
  --font-h2: 600 48px "Poppins";
  --font-h3: 600 48px "Poppins";
  --font-h4: 600 20px "Poppins";
  --font-p: 400 20px "Poppins";
  --font-button: 500 22px "Poppins";
}
* {
  padding: 0;
  margin: 0;
}

/* header  */

header {
  background-color: var(--main-background);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  & .container {
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px 0;
    margin: auto;
    & .burger_menu {
      background-image: url(./images/burger\ menu.png);
      background-repeat: no-repeat;
      width: 40px;
      height: 40px;
      display: none;
    }
    & a {
      text-decoration: none;
      & h5 {
        font: 600 64px "Poppins";
        line-height: 100%;
        color: #ffffff;
      }
      & span {
        font: 600 64px "Poppins";
        line-height: 100%;
        color: #bc8afc;
      }
    }
    & nav {
      display: flex;
      align-items: center;
      gap: 60px;
      & p {
        font: var(--font-p);
        line-height: 100%;
        color: var(--secondary-background);
        position: relative;
      }
      & p:hover::after {
        content: "";
        width: 100%;
        left: 0;
        top: 25px;
        height: 1px;
        background-color: #ffffff;
        position: absolute;
      }
      & button {
        width: 132px;
        height: 58px;
        border-radius: 7px;
        background-color: var(--main-button-background);
        box-shadow: 10px 7px 9px 0px var(--main-color-text) 40;
        font: var(--font-button);
        line-height: 100%;
        color: var(--main-color-text);
        &:hover {
          background-color: var(--hover-button-background);
        }
      }
    }
  }
}

/* cards  */

.cards {
  background-color: var(--main-background);
  width: 100%;
  & .wrapper {
    max-width: 1280px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 150px 40px 196px;
    position: relative;
    & .left {
      max-width: 631px;
      & h1 {
        font: var(--font-h1);
        line-height: 120%;
        color: var(--secondary-background);
      }
      & p {
        font: var(--font-p);
        line-height: 158%;
        color: var(--secondary-background);
        padding: 32px 0;
      }
      & .button {
        width: 212px;
        height: 58px;
        background-color: var(--main-button-background);
        box-shadow: 10px 7px 9px 0px var(--main-color-text) 40;
        border-radius: 7px;
        display: flex;
        align-items: center;
        justify-content: center;
        & p {
          font: var(--font-button);
          line-height: 100%;
          color: var(--main-color-text);
        }
        & .img {
          background-image: url(./images/Vector.png);
          width: 22px;
          height: 22px;
          margin-left: 9px;
        }
        &:hover {
          background-color: var(--hover-button-background);
        }
      }
    }
  }
}

/* position  */

.cards .wrapper .position {
  width: 100%;
  margin: auto;
  border-radius: 16px;
  background-color: var(--secondary-background);
  box-shadow: 0px 2px 10px 0px var(--main-color-text) 26;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0px;
  position: absolute;
  left: 0;
  bottom: -110px;
  & div:nth-child(1) {
    padding-left: 100px;
  }
  & div:nth-child(3) {
    padding-right: 100px;
  }
  & h3 {
    font: var(--font-h3);
    line-height: 100%;
    color: #1f262e;
    padding-bottom: 10px;
    text-align: center;
  }
  & p {
    font: var(--font-p);
    line-height: 100%;
    color: #1f262e;
    text-align: center;
  }
}

/* smile  */

.smile {
  background-color: var(--secondary-background);
  width: 100%;
  & .wrapper {
    max-width: 1280px;
    margin: auto;
    padding: 260px 17px 107px 65px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & .left img {
      max-width: 100%;
    }
    & .right {
      max-width: 611px;
      & h2 {
        font: var(--font-h2);
        line-height: 123%;
        color: var(--main-color-text);
      }
      & p {
        font: var(--font-p);
        line-height: 158%;
        color: var(--main-color-text);
        padding: 16px 0;
      }
      & button {
        width: 212px;
        height: 58px;
        border-radius: 7px;
        background-color: var(--main-button-background);
        border: none;
        font: var(--font-button);
        line-height: 100%;
        color: var(--main-color-text);
        display: flex;
        justify-content: center;
        align-items: center;
        & .img {
          background-image: url(./images/Vector.png);
          background-repeat: no-repeat;
          width: 33px;
          height: 25px;
          margin-left: 9px;
        }
        &:hover {
          background-color: var(--hover-button-background);
        }
      }
    }
  }
}

/* service */

.service {
  background-color: var(--secondary-background);
  width: 100%;
  & .wrapper {
    max-width: 1280px;
    margin: auto;
    padding: 80px 40px 215px;
    & h2 {
      font: var(--font-h2);
      line-height: 158%;
      color: var(--main-color-text);
      padding-bottom: 40px;
    }
    & .icons {
      display: grid;
      grid-template-columns: 477px 477px;
      grid-auto-rows: minmax(257px, auto);
      grid-column-gap: 170px;
      grid-row-gap: 40px;
      & .first .img {
        background-image: url(./images/first.png);
        background-repeat: no-repeat;
        width: 90px;
        height: 90px;
      }
      & .second .img {
        background-image: url(./images/second.png);
        background-repeat: no-repeat;
        width: 90px;
        height: 90px;
      }
      & .third .img {
        background-image: url(./images/third.png);
        background-repeat: no-repeat;
        width: 90px;
        height: 90px;
      }
      & .fourth .img {
        background-image: url(./images/fourth.png);
        background-repeat: no-repeat;
        width: 90px;
        height: 90px;
      }
      & h4 {
        font: var(--font-h4);
        line-height: 158%;
        color: #1f262e;
        padding: 36px 0 12px;
      }
      & p {
        font: var(--font-p);
        line-height: 158%;
        color: var(--main-color-text);
      }
    }
  }
}

/* footer  */

footer {
  background-color: var(--main-background);
  width: 100%;
  & .wrapper {
    max-width: 1280px;
    margin: auto;
    padding: 72px 40px;
    & .text {
      display: flex;
      justify-content: flex-start;
      gap: 33px;
      padding: 40px 0;
      & p {
        font: var(--font-p);
        line-height: 100%;
        color: var(--secondary-background);
      }
    }
    & .socials {
      display: flex;
      align-items: center;
      gap: 21px;
      & .img1 {
        background-image: url(./images/instagram.svg);
        background-repeat: no-repeat;
        width: 32px;
        height: 37px;
      }
      & .img2 {
        background-image: url(./images/facebook.svg);
        background-repeat: no-repeat;
        width: 37px;
        height: 37px;
      }
      & .img3 {
        background-image: url(./images/twitter.svg);
        background-repeat: no-repeat;
        width: 34px;
        height: 33px;
      }
      & .img4 {
        background-image: url(./images/linkeding.svg);
        background-repeat: no-repeat;
        width: 30px;
        height: 30px;
      }
    }
  }
}

@media (max-width: 1130px) {
  .cards .wrapper {
    flex-direction: column;
  }
  .service .wrapper .icons {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 1100px) {
  header .container nav {
    display: none;
  }
  header .container .burger_menu {
    display: block;
  }
}
@media (max-width: 800px) {
  .smile .wrapper {
    flex-direction: column;
    gap: 50px;
  }
}
@media (max-width: 650px) {
  .cards .wrapper .position {
    flex-direction: column;
    height: 40vh;
  }
  .cards .wrapper .position div:nth-child(1) {
    padding: 0;
  }
  .cards .wrapper .position div:nth-child(3) {
    padding: 0;
  }
  footer .wrapper .text {
    flex-direction: column;
    gap: 40px;
  }
}
@media (max-width: 600px) {
  .smile .wrapper {
    padding: 130px 40px 0px;
  }
  .cards .wrapper .right {
    display: none;
  }
  .cards .wrapper {
    padding: 150px 40px 500px;
  }
  .smile .wrapper .right p {
    padding: 24px 0;
  }
  .cards .wrapper .left h1 {
    font: 600 50px "Poppins";
    line-height: 120%;
    color: var(--secondary-background);
  }
  .cards .wrapper .left p {
    font: 400 18px "Poppins";
    line-height: 158%;
    color: var(--secondary-background);
    padding: 32px 0;
  }
}
